apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: podmanager-controller-role
rules:
- apiGroups:
  - apps.mycompany.com
  resources:
  - podmanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.mycompany.com
  resources:
  - podmanagers/finalizers
  verbs:
  - update
- apiGroups:
  - apps.mycompany.com
  resources:
  - podmanagers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
